$color1: #1D3461;
$color2: #1F487E;
$color3: #376996;
$color4: #2CA58D;
$color5: #84BC9C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//navegador
nav-link {
    color: $color2;
    font-size: 15px;
}

nav-link active {
    color: $color4;
    font-weight: bold;
}

.h3 {
    color: $color4;
    padding-top: 10vh;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 3vh;
}

.espacio{
 padding-top: 10vh;
}

.boton {
    width: 8vh;
    height: 5vh;
    background-color: $color1;
    color: #ffff;
}

